{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}

{% block utilities_offcanvas_content %}
    <p>There's nothing better than coding on a sunny late summmer afternoon!</p>
{% endblock %}
